<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/cadastro" method="POST">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome" placeholder="Digite seu nome">

    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Digite seu email">

    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" placeholder="Digite sua senha">

    <label for="tema">Tema</label>
    <select name="tema" id="tema">
      <option disabled selected>Escolha um tema</option>
      <option value="dark-mode">Tema Dark</option>
      <option value="light-mode">Tema Light</option>
    </select>

    <button>Enviar</button>
  </form>
</body>
</html>