<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %> 
<body>
  <header class='d-flex justify-content-between py-3 px-5'>
    <p>Bem vinde <%= usuario.nome %></p>
      <a href="/logout">
        <button type="button" class="btn btn-danger">Sair</button>
      </a>
  </header>
  <main class="container px-5">
    <div class="row g-3 gy-5">
    <% posts.forEach(post => { %>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"> <%= post.body %>  </p>
              <button type="button" class="btn btn-primary">Like</button>
              <button type="button" class="btn btn-danger">Dislike</button>
            </div>
          </div>
        </div>

        <% }) %>
      </div>
  </main>
</body>
</html>