<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <p>Bem vinde <%= usuario.nome %></p>
    <a href="/logout">
      <button>Sair</button>
    </a>
  </header>
  <% for (let i = 0; i < 6; i++) { %>
    <div>
      <h1>Cai da escada hoje</h1>
      <div>
        <button>like</button>
        <button>dislike</button>
      </div>
    </div>
  <% } %>
</body>
</html>