<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %> 
  <body class="<%= tema %>">
    <header>

      <% if (typeof usuario !== "undefined") { %> 
        <p>Bem vinde, <%= usuario.nome %></p>
        <a href="/logout">
          <button>Sair</button>
        </a>
      <% } else { %> 
        <div>
          olá, faça seu <a href="/login">Login</a> ou <a href="/cadastro">Cadastre-se</a>
        </div>
      <% } %>


    </header>

    <p>Welcome to <%= title %></p>

    
    
  </body>
</html>
